@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/inter-regular.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  :root {
    --font-sans: Inter;

    --background: 275 1% 95%;
    --foreground: 275 1% 10%;
    --card: 275 1% 90%;
    --card-foreground: 275 1% 15%;
    --popover: 275 1% 95%;
    --popover-foreground: 275 95% 10%;
    --primary: 275 50% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 10% 75%;
    --secondary-foreground: 0 0% 0%;
    --muted: 240 10% 85%;
    --muted-foreground: 275 1% 40%;
    --accent: 240 10% 90%;
    --accent-foreground: 275 1% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 275 1% 90%;
    --border: 275 15% 90%;
    --input: 275 15% 85%;
    --ring: 275 25 85%;
    --radius: 0.5rem;
  }

  .dark {
    --font-sans: Inter;

    --background: 275 5% 10%;
    --foreground: 275 1% 80%;
    --card: 275 1% 10%;
    --card-foreground: 275 1% 90%;
    --popover: 275 10% 10%;
    --popover-foreground: 275 1% 90%;
    --primary: 280 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 10% 25%;
    --muted-foreground: 275 1% 52%;
    --accent: 240 10% 25%;
    --accent-foreground: 275 1% 90%;
    --destructive: 0 50% 40%;
    --destructive-foreground: 275 1% 90%;
    --border: 275 10% 17%;
    --input: 275 15% 17;
    --ring: 275 20 25%;
    --radius: 0.5rem;

    ::selection {
      color: #fff;
      background: #9933cc;
    }
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type='file']::-webkit-file-upload-button,
  input[type='file']::file-selector-button {
    @apply text-foreground;
  }
}

html {
  @apply antialiased;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, hsl(var(--primary))) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spin 1s infinite steps(10);
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
