{{define "content"}}
<p>Hi,</p>
<p>Please click on the button below to reset your password.</p>
<p>
  <a class="btn" href="{{.domain}}/reset-password?token={{.token}}" target="_blank" rel="noopener">Reset password</a>
</p>
<p><i>If you didn't ask to reset your password, you can ignore this email.</i></p>

<p>
  Thanks,<br />
  Long Habit
</p>
{{ end }}
